<div class="form-container">
  <div class="form">

    <%= form_for(:session, url: login_path) do |f| %>

    <p>
      <%= f.text_field :username, :placeholder => 'username' %>
    </p>

    <p>
      <%= f.password_field :password, :placeholder => 'password' %>
    </p>

    <%= f.submit "Log In" %>

    <% end %>

  </div>
</div>
