// Place all the styles related to the Moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////// GLOBAL //////////////
body {
  background: #F7F9F8;
  // temporary until webfont
  font-family: 'Times NR Condensed', sans-serif;
  opacity: 0;
  font-size: 18px;
  line-height: 22px;
  color: #201614;
}

strong {
  font-family: 'ITCFranklinGothicStd-DmXCp', sans-serif;
}



////////////// HEADER //////////////

header {
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0;
}

header > .logo {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -2px;
  text-align: center;
  width: 268px;
  margin: 0 auto;
  position: relative;
}

header > .logo a {
  text-decoration: none;
  color: #201614;
}

h1.current-date {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -2px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 500;
}

header > ul.userlinks {
  position: absolute;
  right: 0;
  top: 0;
}

header > ul.userlinks > li {
  display: inline;
  list-style: none;
}

header > ul.userlinks > li a {
  text-decoration: none;
  color: #201614;
}

li#login::after {
  content: "|";
  color: #C2C0BF;
}

a.scroll-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 800;
  opacity: 0;
  text-decoration: none;
  color: #201614;
  transition: all .4s;
}

.visible {
  opacity: 1 !important;
  transition: all .25s;
}




////////////// ABOUT //////////////


span.about-btn {
  font-size: 24px;
  color: #C2C0BF;
  display: inline-block;
  line-height: 24px;
  width: 32px;
  border-radius: 18px;
  border: 2px solid #C2C0BF;
  position: absolute;
  right: -48px;
  padding-top: 4px;
  top: 16px;
}

span.about-btn > strong {
  margin-left: -2px;
}

#about {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FAF5F7;
  display: none;
  z-index: 1000;
}

.show {
  display: block !important;
}

.about-btn, .close-btn {
  cursor: pointer;
  color: red;
}


////////////// FORMS //////////////

.form {
  width: 60%;
  margin-top: 20%;
}


////////////// MOODS //////////////


.moods-new .hour, .users-new .hour, .sessions-new .hour {
  display: none;
}

.moods-new .current-date, .users-new .current-date, .sessions-new .current-date {
  display: none;
}

.mood {
  animation-duration: 1s;
  animation-delay: .1s;
}

.hour {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.line {
  border: 0;
  color: #EAEBE9;
  background-color: #EAEBE9;
  height: 2px;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #efefef;
  z-index: 50;
}
.chill .circle {
  background: #A2C5E2;
}
.sad .circle {
  background: #93A5B4;
}
.cool .circle {
  background: #AECCD2;
}
.bad .circle {
  background: #9FAFB0;
}
.drunk .circle {
  background: #BAD4C1;
}
.bored .circle {
  background: #A3B0A6;
}
.funny .circle {
  background: #C6DBB7;
}
.sick .circle {
  background: #A7B39E;
}
.meh .circle {
  background: #CFE1A5;
}
.tired .circle {
  background: #ACB595;
}
.happy .circle {
  background: #D9E796;
}
.annoyed .circle {
  background: #B3BA90;
}
.awesome .circle {
  background: #DCD795;
}
.hungry .circle {
  background: #B6B18E;
}
.amazing .circle {
  background: #E0C393;
}
.confused .circle {
  background: #B5A58C;
}
.excited .circle {
  background: #E2B18E;
}
.sleepy .circle {
  background: #B7998A;
}
.surprised .circle {
  background: #E79F8F;
}
.sorry .circle {
  background: #B89089;
}
.relieved .circle {
  background: #E9898A;
}
.pissed .circle {
  background: #B88788;
}
.loved .circle {
  background: #E988A3;
}
.lonely .circle {
  background: #BB869D;
}

.mood {
  position: absolute;
  top: 0;
  left: 0;
}

.chill {
  left: 1%;
}
.sad {
  left: 4%;
}
.cool {
  left: 8%;
}
.bad {
  left: 12%;
}
.drunk {
  left: 16%;
}
.bored {
  left: 20%;
}
.funny {
  left: 24%;
}
.sick {
  left: 28%;
}
.meh {
  left: 32%;
}
.tired {
  left: 36%;
}
.happy {
  left: 40%;
}
.annoyed {
  left: 44%;
}
.awesome {
  left: 48%;
}
.hungry {
  left: 52%;
}
.amazing {
  left: 56%;
}
.confused {
  left: 60%;
}
.excited {
  left: 64%;
}
.sleepy {
  left: 68%;
}
.surprised {
  left: 72%;
}
.sorry {
  left: 76%;
}
.relieved {
  left: 80%;
}
.pissed {
  left: 84%;
}
.loved {
  left: 88%;
}
.lonely {
  left: 92%;
}
