// Place all the styles related to the Moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
////////////// GLOBAL //////////////
$darkGrey: #201614;
$midGrey: #c2c0bf;

body {
  background: #f7f9f8;
  font-family: 'TimesNRMTStd-Cond', serif;
  opacity: 0;
  font-size: 18px;
  line-height: 22px;
  color: $darkGrey;
}
strong {
  font-family: 'franklin-gothic-ext-comp-urw', sans-serif;
}

////////////// HEADER //////////////
header {
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0;
}
header > .logo {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -2px;
  text-align: center;
  width: 268px;
  margin: 0 auto;
  position: relative;
}
header > .logo a {
  text-decoration: none;
  color: $darkGrey;
}
h1.current-date {
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -2px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 500;
}
header > ul.userlinks {
  position: absolute;
  top: 10px;
  right: 14px;
}
header > li {
  position: absolute;
  top: 10px;
  left: 14px;
  display: inline;
  list-style: none;
}
header > ul.userlinks > li {
  display: inline;
  list-style: none;
}
header > ul.userlinks > li a,
header > li.create a {
  text-decoration: none;
  color: $darkGrey;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;
}
header > ul.userlinks > li a:hover,
header > li.create a:hover {
  border-bottom: 2px solid $darkGrey;
  transition: all 0.1s;
}
body.users-new > header > ul.userlinks > li.signup a,
body.sessions-new > header > ul.userlinks > li.login a {
  border-bottom: 2px solid $darkGrey;
}
li.login::after,
li.logout::after {
  content: "|";
  padding: 5px;
  color: $midGrey;
}
a.scroll-top {
  position: fixed;
  bottom: 8px;
  right: 14px;
  z-index: 800;
  opacity: 0;
  text-decoration: none;
  color: $darkGrey;
  transition: all 0.4s;
}
.visible {
  opacity: 1 !important;
  transition: all 0.25s;
}

////////////// ABOUT //////////////
span.about-btn {
  font-size: 18px;
  color: $midGrey;
  display: inline-block;
  line-height: 20px;
  width: 26px;
  border-radius: 18px;
  border: 2px solid $midGrey;
  position: absolute;
  right: -40px;
  padding-top: 4px;
  top: 16px;
  background: transparent;
  transition: all 0.2s;
}
span.about-btn:hover {
  background: $midGrey;
  color: #f7f9f8;
  transition: all 0.2s;
}
span.about-btn > strong {
  margin-left: -2px;
}
#about {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #faf5f7;
  display: none;
  z-index: 1000;
  text-align: center;
  opacity: 0;
}
#about > .desc {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}
#about > span.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 48px;
  width: 48px;
}
#about > .desc > p:first-child {
  font-size: 2em;
  line-height: 48px;
  padding-bottom: 60px;
}
.show {
  display: block !important;
}

////////////// FORMS //////////////
.form-container {
  width: 100%;
  height: 100%;
  position: fixed;
}
.form {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  padding: 24px;
}
textarea,
input {
  outline: none;
}
.form form input[type=text],
.form form input[type=password] {
  font-size: 2em;
  padding: 24px 0;
  margin-bottom: 24px;
  font-family: 'TimesNRMTStd-Cond', serif;
  border: transparent;
  border-bottom: 2px solid $darkGrey;
  background: transparent;
  width: 100%;
}
form input[type=submit] {
  font-family: 'franklin-gothic-ext-comp-urw', sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 36px;
  line-height: 48px;
  background: none;
  padding: 0;
  margin: 24px 0 0;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;
}
form input[type=submit]:hover {
  border-bottom: 2px solid $darkGrey;
  transition: all 0.1s;
  cursor: pointer;
}
#content {
  width: 100%;
  height: 100%;
  position: absolute;
}
.mood-select {
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
  top: 52%;
  transform: translateY(-52%);
}
.mood-select > h1, .form > h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 72px;
}
p.members {
  position: absolute;
  top: 6px;
  right: 24px;
}
ul.emotions {
  text-align: center;
  margin-bottom: 60px;
}
ul.emotions > li {
  display: inline;
  float: left;
  width: 96px;
  height: 60px;
  padding-bottom: 48px;
}
ul.emotions > li > label {
  display: block;
}
p.members, p.submit-btn {
  clear: both;
}
.mood-select > form input[type=submit] {
  margin: 0 0 0 32px;
}
input[type=radio] {
    display: none;
}
ul.emotions > li > label::before {
    content: "";
    width: 32px;
    height: 32px;
    margin-top: -48px;
    border-radius: 16px;
    background-color: #aaa;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    margin-left: 32px;
}
ul.emotions > li > input[type=radio]:checked + label::before {
  // border: 4px solid rgba(255, 255, 255, 0.6);
}
ul.emotions > li > input[type=radio] {
  transition: all 0.2s (.11,.7,.39,1);
}
.delete {
  text-align: center;
}
.delete h1 {
  padding-bottom: 48px;
}
.delete a {
  font-family: 'franklin-gothic-ext-comp-urw', sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 36px;
  line-height: 48px;
  background: none;
  padding: 0;
  margin: 24px 0 0;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;
  text-decoration: none;
  color: $darkGrey;
}
.delete a:hover {
  border-bottom: 2px solid $darkGrey;
  transition: all 0.1s;
  cursor: pointer;
}

////////////// MOODS //////////////
.moods-new .hour,
.users-new .hour,
.users-show .hour,
.sessions-new .hour {
  display: none;
}
.moods-new .current-date,
.users-new .current-date,
.users-show .current-date,
.sessions-new .current-date {
  display: none;
}
.mood {
  animation-duration: 1s;
  animation-delay: 0.25s;
  transition: all 0.2s;
  cursor: crosshair;
}
.hidden {
  opacity: 0.25;
  transition: all 0.2s (.11,.7,.39,1);
}
.hour {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.hour > strong {
  padding-left: 12px;
  color: #ccc;
}
.line {
  border: 0;
  color: #eaebe9;
  background-color: #eaebe9;
  height: 2px;
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #efefef;
  z-index: 50;
}
.chill .circle, label[for=mood_emotion_chill]::before {
  background: #a2c5e2 !important;
}
.sad .circle, label[for=mood_emotion_sad]::before {
  background: #93a5b4 !important;
}
.cool .circle, label[for=mood_emotion_cool]::before {
  background: #aeccd2 !important;
}
.bad .circle, label[for=mood_emotion_bad]::before {
  background: #9fafb0 !important;
}
.drunk .circle, label[for=mood_emotion_drunk]::before {
  background: #bad4c1 !important;
}
.bored .circle, label[for=mood_emotion_bored]::before {
  background: #a3b0a6 !important;
}
.funny .circle, label[for=mood_emotion_funny]::before {
  background: #c6dbb7 !important;
}
.sick .circle, label[for=mood_emotion_sick]::before {
  background: #a7b39e !important;
}
.meh .circle, label[for=mood_emotion_meh]::before {
  background: #cfe1a5 !important;
}
.tired .circle, label[for=mood_emotion_tired]::before {
  background: #acb595 !important;
}
.happy .circle, label[for=mood_emotion_happy]::before {
  background: #d9e796 !important;
}
.annoyed .circle, label[for=mood_emotion_annoyed]::before {
  background: #b3ba90 !important;
}
.awesome .circle, label[for=mood_emotion_awesome]::before {
  background: #dcd795 !important;
}
.hungry .circle, label[for=mood_emotion_hungry]::before {
  background: #b6b18e !important;
}
.amazing .circle, label[for=mood_emotion_amazing]::before {
  background: #e0c393 !important;
}
.confused .circle, label[for=mood_emotion_confused]::before {
  background: #b5a58c !important;
}
.excited .circle, label[for=mood_emotion_excited]::before {
  background: #e2b18e !important;
}
.sleepy .circle, label[for=mood_emotion_sleepy]::before {
  background: #b7998a !important;
}
.surprised .circle, label[for=mood_emotion_surprised]::before {
  background: #e79f8f !important;
}
.sorry .circle, label[for=mood_emotion_sorry]::before {
  background: #b89089 !important;
}
.relieved .circle, label[for=mood_emotion_relieved]::before {
  background: #e9898a !important;
}
.pissed .circle, label[for=mood_emotion_pissed]::before {
  background: #b88788 !important;
}
.loved .circle, label[for=mood_emotion_loved]::before {
  background: #e988a3 !important;
}
.lonely .circle, label[for=mood_emotion_lonely]::before {
  background: #bb869d !important;
}
.mood {
  position: absolute;
  top: 0;
  left: 0;
}
.chill {
  left: 1%;
}
.sad {
  left: 4%;
}
.cool {
  left: 8%;
}
.bad {
  left: 12%;
}
.drunk {
  left: 16%;
}
.bored {
  left: 20%;
}
.funny {
  left: 24%;
}
.sick {
  left: 28%;
}
.meh {
  left: 32%;
}
.tired {
  left: 36%;
}
.happy {
  left: 40%;
}
.annoyed {
  left: 44%;
}
.awesome {
  left: 48%;
}
.hungry {
  left: 52%;
}
.amazing {
  left: 56%;
}
.confused {
  left: 60%;
}
.excited {
  left: 64%;
}
.sleepy {
  left: 68%;
}
.surprised {
  left: 72%;
}
.sorry {
  left: 76%;
}
.relieved {
  left: 80%;
}
.pissed {
  left: 84%;
}
.loved {
  left: 88%;
}
.lonely {
  left: 92%;
}
