// Place all the styles related to the Moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
////////////// GLOBAL //////////////
body {
  background: #f7f9f8;

  // temporary until webfont
  font-family: 'Times NR Condensed', sans-serif;
  opacity: 0;
  font-size: 18px;
  line-height: 22px;
  color: #201614;
}
strong {
  font-family: 'ITCFranklinGothicStd-DmXCp', sans-serif;
}

////////////// HEADER //////////////
header {
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0;
}
header > .logo {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -2px;
  text-align: center;
  width: 268px;
  margin: 0 auto;
  position: relative;
}
header > .logo a {
  text-decoration: none;
  color: #201614;
}
h1.current-date {
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -2px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 500;
}
header > ul.userlinks {
  position: absolute;
  top: 10px;
  right: 14px;
}
header > ul.userlinks > li {
  display: inline;
  list-style: none;
}
header > ul.userlinks > li a {
  text-decoration: none;
  color: #201614;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;
}
header > ul.userlinks > li a:hover {
  border-bottom: 2px solid #201614;
  transition: all 0.1s;
}
body.users-new > header > ul.userlinks > li.signup a,
body.sessions-new > header > ul.userlinks > li.login a {
  border-bottom: 2px solid #201614;
}
li.login::after {
  content: "|";
  padding: 5px;
  color: #c2c0bf;
}
a.scroll-top {
  position: fixed;
  bottom: 8px;
  right: 14px;
  z-index: 800;
  opacity: 0;
  text-decoration: none;
  color: #201614;
  transition: all 0.4s;
}
.visible {
  opacity: 1 !important;
  transition: all 0.25s;
}

////////////// ABOUT //////////////
span.about-btn {
  font-size: 18px;
  color: #c2c0bf;
  display: inline-block;
  line-height: 20px;
  width: 26px;
  border-radius: 18px;
  border: 2px solid #c2c0bf;
  position: absolute;
  right: -40px;
  padding-top: 4px;
  top: 16px;
  background: transparent;
  transition: all 0.2s;
}
span.about-btn:hover {
  background: #c2c0bf;
  color: #f7f9f8;
  transition: all 0.2s;
}
span.about-btn > strong {
  margin-left: -2px;
}
#about {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #faf5f7;
  display: none;
  z-index: 1000;
  text-align: center;
  opacity: 0;
}
#about > .desc {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}
#about > span.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 48px;
  width: 48px;
}
#about > .desc > p:first-child {
  font-size: 2em;
  line-height: 48px;
  padding-bottom: 60px;
}
.show {
  display: block !important;
}

////////////// FORMS //////////////

.form-container {
  width: 100%;
  height: 100%;
  position: fixed;
}
.form {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  padding: 24px;
}

textarea, input { outline: none; }

.form form input[type=text], .form form input[type=password] {
  font-size: 2em;
  padding: 24px 0;
  margin-bottom: 24px;
  font-family: 'Times NR Condensed', sans-serif;
  border: transparent;
  border-bottom: 2px solid #201614;
  background: transparent;
  width: 100%;
}

.form form input[type=submit] {
  font-family: 'ITCFranklinGothicStd-DmXCp', sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 36px;
  line-height: 48px;
  background: none;
  padding: 0;
  margin: 24px 0 0 0;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;
}

.form form input[type=submit]:hover {
  border-bottom: 2px solid #201614;
  transition: all 0.1s;
  cursor: pointer;
}

////////////// MOODS //////////////
.moods-new .hour,
.users-new .hour,
.sessions-new .hour {
  display: none;
}
.moods-new .current-date,
.users-new .current-date,
.sessions-new .current-date {
  display: none;
}
.mood {
  animation-duration: 1s;
  animation-delay: 0.25s;
  transition: all 0.2s;
  cursor: crosshair;
}
.hidden {
  opacity: 0.25;
  transition: all 0.2s (.11,.7,.39,1);
}
.hour {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.hour > strong {
  padding-left: 12px;
  color: #ccc;
}
.line {
  border: 0;
  color: #eaebe9;
  background-color: #eaebe9;
  height: 2px;
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #efefef;
  z-index: 50;
}
.chill .circle {
  background: #a2c5e2;
}
.sad .circle {
  background: #93a5b4;
}
.cool .circle {
  background: #aeccd2;
}
.bad .circle {
  background: #9fafb0;
}
.drunk .circle {
  background: #bad4c1;
}
.bored .circle {
  background: #a3b0a6;
}
.funny .circle {
  background: #c6dbb7;
}
.sick .circle {
  background: #a7b39e;
}
.meh .circle {
  background: #cfe1a5;
}
.tired .circle {
  background: #acb595;
}
.happy .circle {
  background: #d9e796;
}
.annoyed .circle {
  background: #b3ba90;
}
.awesome .circle {
  background: #dcd795;
}
.hungry .circle {
  background: #b6b18e;
}
.amazing .circle {
  background: #e0c393;
}
.confused .circle {
  background: #b5a58c;
}
.excited .circle {
  background: #e2b18e;
}
.sleepy .circle {
  background: #b7998a;
}
.surprised .circle {
  background: #e79f8f;
}
.sorry .circle {
  background: #b89089;
}
.relieved .circle {
  background: #e9898a;
}
.pissed .circle {
  background: #b88788;
}
.loved .circle {
  background: #e988a3;
}
.lonely .circle {
  background: #bb869d;
}
.mood {
  position: absolute;
  top: 0;
  left: 0;
}
.chill {
  left: 1%;
}
.sad {
  left: 4%;
}
.cool {
  left: 8%;
}
.bad {
  left: 12%;
}
.drunk {
  left: 16%;
}
.bored {
  left: 20%;
}
.funny {
  left: 24%;
}
.sick {
  left: 28%;
}
.meh {
  left: 32%;
}
.tired {
  left: 36%;
}
.happy {
  left: 40%;
}
.annoyed {
  left: 44%;
}
.awesome {
  left: 48%;
}
.hungry {
  left: 52%;
}
.amazing {
  left: 56%;
}
.confused {
  left: 60%;
}
.excited {
  left: 64%;
}
.sleepy {
  left: 68%;
}
.surprised {
  left: 72%;
}
.sorry {
  left: 76%;
}
.relieved {
  left: 80%;
}
.pissed {
  left: 84%;
}
.loved {
  left: 88%;
}
.lonely {
  left: 92%;
}
